<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ls.Home"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.ls.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ls.MemberDetails"
            android:label="@string/title_activity_member_details" >
        </activity>
        <activity
            android:name="com.example.ls.MemDetailsScroll"
            android:label="@string/title_activity_mem_details_scroll" >
        </activity>
        <activity
            android:name="com.example.ls.TabMemberDetails"
            android:label="@string/title_activity_tab_member_details" >
        </activity>
        <activity
            android:name="com.example.ls.WebView"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name="com.example.ls.WebSite"
            android:label="@string/title_activity_web_site" >
        </activity>
        <activity
            android:name="com.example.ls.LokSabhaMembers"
            android:label="@string/title_activity_rsmembers" >
        </activity>
        <activity
            android:name="com.example.ls.QuestionList"
            android:label="@string/title_activity_question_list" >
        </activity>
        <activity
            android:name="com.example.ls.OrgDesigDetail"
            android:label="@string/title_activity_org_desig_detail" >
        </activity>
        <activity
            android:name="com.example.ls.OrganisationASJSDirector"
            android:label="@string/title_activity_org_asjsdirector" >
        </activity>
        <activity
            android:name="com.example.ls.TodaysBirthday"
            android:label="@string/title_activity_todays_birthday" >
        </activity>
        <activity
            android:name="com.example.ls.WebviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_webview"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.ls.SecretaryGeneralDetail"
            android:label="@string/title_activity_secretary_general" >
        </activity>
    </application>

</manifest>